.applicationSuccessContainer{
    background-color: #34495e;
    padding: 10px;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 10px;
    
}
.applicationSuccessContainer h3{
    color: #27ae60;
    border-bottom: 1px solid #465c71;
    width: 70%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.applicationSuccessContainer .info {
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.applicationSuccessContainer .info i{
    background-color: #2c3e50;
    color: #fff;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}
.applicationSuccessContainer .info .desc{
    color: #fff;
    font-size: 1em;
    margin-top: 15px;
}
