html,body{
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
    list-style-type: none;
    color:#fff;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  left:0px ;
  padding: 20px;
}

.answered{
color : #27ae60;
}
.waitingAnswer{
color : #c0392b;
}