.mainContainer{
    display: flex;
    width: 65%;
    height: 10%;
    border-radius: 10px;
    flex-direction: column;
    
}

.container{
    display: flex;
    width: 100%;
    align-items: center;
    color: #000;
    border-radius: 10px;
    margin-bottom: 20px;
     background-color: #34495e;
}
.applicationSearchForm{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: center;
}
.applicationSearchForm input{
   width: 65%;
   background-color: #fff;
   color: #34495e;
   padding: 15px;
   border-radius: 10px 0 0 10px;
   border-style: none;
}
.applicationSearchForm button {
    padding: 15px;
    border-radius: 0 10px 10px 0;
    border-style: none;
    background-color: #2ecc71;
    cursor: pointer;
}
.applicationSearchForm button:hover{
   
    background-color : #27ae60;

}



@media (max-width: 767px) {
  .mainContainer{
width: 100%;
  }

}