*{
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 13px;
    display: flex;
    justify-content: space-around;
    background-color: #2c3e50;
}
.navbar ul,li{
    display: flex;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar ul li a:hover{
    text-decoration: none;
    color: #aba9a9;
}

.logo{
    padding: 20px
}

@media (max-width:750px) {
    
    .rightContainer{
    display: none;
  }
  .leftContainer{
    margin: 0;
  }

  
}
