*{
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    font-size: 0.9em;
}
.navbar ul,li{
    display: flex;
    padding: 10px;
    margin-left: 10px;
}

.logo{
    margin-left: 120px;
    padding: 10px;
    font-size:1.5em;
}
.menu li{
    background-color: #2ecc71;
    cursor: pointer;
    border-radius: 10px;
}
.menu li:hover{
    background-color: #27ae60;
}

@media (max-width:750px) {
    
    .navbar {
    padding: 15px;
    justify-content: space-between;
    font-size: 1em;
}
  .leftContainer{
    margin: 0;
  }
  .logo{
    margin: 0;
  }

  
}
